:root {
    --color-white: white;
    --color-pink: #D1439E;
    --color-purple: #54276f;
    --color-light-purple: #c575f3;
    --color-light-blue: #1da5be;
    --color-dark-blue: #131c5a;
    --color-neon-green: #15c508;
    --color-navy: rgb(19, 28, 90)
}



.footer {
    grid-area: footer;
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    background: radial-gradient(at right top, rgb(139, 92, 246), rgb(253, 186, 116))
}

.grid-item.logo {
    /* Center the logo within its grid cell */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    filter: drop-shadow(-1px -1px 1px #b5b6b8);
    /* Shadow effect for depth */
    max-width: 100%;
    /* Add this line to restrict the width of the container */
}

/* Styling for the logo image */
.grid-item.logo img {
    /* You may set a max-width instead if the image is too large */
    /* Maintain aspect ratio */
    /* Remove max-height if it's not needed or adjust accordingly */
    max-width: 100%;
    /* Add this line to restrict the width of the image */
}